# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*.idea/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

.idea/checkstyle-idea.xml
.idea/checkstyle-idea.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/vcs.xml
.idea/sonarlint/issuestore/index.pb
.idea/checkstyle-idea.xml
.idea/compiler.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/sonarlint/issuestore/b/1/b19f4244d298398c0227a4129de0f9ddca1cbf8f
.idea/sonarlint/securityhotspotstore/b/1/b19f4244d298398c0227a4129de0f9ddca1cbf8f
.idea/sonarlint/securityhotspotstore/index.pb
.idea/vcs.xml
target/classes/application.properties
target/classes/generador/csv/GeneradorCsv.class
target/classes/application.properties
target/classes/generador/csv/GeneradorCsv.class
target/classes/generador/csv/GeneradorCsv.class
.idea/sonarlint/securityhotspotstore/f/8/f827f9c52d4952f5892ec52bbccb138a943f2e4b
.idea/sonarlint/securityhotspotstore/4/4/442292b8a7efeabbe4cc176709b833b1792140ec
.idea/sonarlint/issuestore/f/8/f827f9c52d4952f5892ec52bbccb138a943f2e4b
.idea/sonarlint/issuestore/4/4/442292b8a7efeabbe4cc176709b833b1792140ec
*.class
*.class
target/classes/application.properties
.idea/libraries/Maven__ch_qos_logback_logback_classic_1_2_6.xml
.idea/libraries/Maven__ch_qos_logback_logback_core_1_2_6.xml
.idea/libraries/Maven__com_github_virtuald_curvesapi_1_07.xml
.idea/libraries/Maven__com_zaxxer_SparseBitSet_1_2.xml
.idea/libraries/Maven__commons_codec_commons_codec_1_15.xml
.idea/libraries/Maven__commons_io_commons_io_2_11_0.xml
.idea/libraries/Maven__net_bytebuddy_byte_buddy_1_12_14.xml
.idea/libraries/Maven__net_bytebuddy_byte_buddy_agent_1_12_14.xml
.idea/libraries/Maven__org_apache_commons_commons_collections4_4_4.xml
.idea/libraries/Maven__org_apache_commons_commons_compress_1_21.xml
.idea/libraries/Maven__org_apache_commons_commons_csv_1_10_0.xml
.idea/libraries/Maven__org_apache_commons_commons_math3_3_6_1.xml
.idea/libraries/Maven__org_apache_logging_log4j_log4j_api_2_20_0.xml
.idea/libraries/Maven__org_apache_logging_log4j_log4j_core_2_20_0.xml
.idea/libraries/Maven__org_apache_poi_poi_5_2_3.xml
.idea/libraries/Maven__org_apache_poi_poi_ooxml_5_2_3.xml
.idea/libraries/Maven__org_apache_poi_poi_ooxml_lite_5_2_3.xml
.idea/libraries/Maven__org_apache_xmlbeans_xmlbeans_5_1_1.xml
.idea/libraries/Maven__org_apiguardian_apiguardian_api_1_1_2.xml
.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_api_5_9_0.xml
.idea/libraries/Maven__org_junit_platform_junit_platform_commons_1_9_0.xml
.idea/libraries/Maven__org_mockito_mockito_core_4_8_0.xml
.idea/libraries/Maven__org_mockito_mockito_junit_jupiter_4_8_0.xml
.idea/libraries/Maven__org_objenesis_objenesis_3_2.xml
.idea/libraries/Maven__org_opentest4j_opentest4j_1_2_0.xml
.idea/libraries/Maven__org_projectlombok_lombok_1_18_24.xml
.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_32.xml
.idea/modules.xml
